%form{ id: "control-buttons" }
  %input{ type: "button", name: "play",  value: "Play",  disabled: true }
  %input{ type: "button", name: "pause", value: "Pause", disabled: true }
  %input{ type: "button", name: "stop",  value: "Stop",  disabled: true }
  %input{ type: "button", name: "skip",  value: "Skip",  disabled: true }
  
%script{ type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
%script{ type: "text/javascript", src: "/public/javascripts/application.js" }

