div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="#") PartyBox
      div#user-nav.btn-group.pull-right
      div.nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") Parties
