.span12
  .hero-unit
    h1 Community video streams
    p powered by youtube
    a.btn.btn-info.btn-large(href="#") Let's start a party »

.span12
  h2 Existing parties
  ul.thumbnails
    li.span4
      .thumbnail
        img(src="http://placehold.it/360x180",  alt="")
        .caption foo!!
    li.span4
      .thumbnail
        img(src="http://placehold.it/300x180",  alt="")
        .caption foo!!
    li.span4
      .thumbnail
        img(src="http://placehold.it/300x180",  alt="")
        .caption foo!!
