!!! 5
html(lang:"en" ng-app="partybox")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    != SocketStream
    title Party Box
  body
    div(ng-view)
